body {
    font-family: 'Montserrat', sans-serif;
}

.transparent-card {
    box-shadow: 4px 4px 20px 0px #514949fc;
    background-color: rgba(255, 255, 255, 0.6)
}


/* header start */

.header-list {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    margin-bottom: 0px !important;
    margin-top: 4px !important;
}

.header {
    padding: 16px;
    position: fixed;
    top: 0;
    width: -webkit-fill-available;
    font-family: 'Montserrat', sans-serif;
    z-index: 3;
}

.profile-icon {
    font-size: 20px;
}

.menu-icon {
    display: none;
}


.header-list a{
    color: black;
    text-decoration: none;
}
/* header end */


.global-container {
    /* height: 180vh; */

}

/*  */
.first-section {
    position: relative;     /*Set the position to relative */
    width: 100%;
    height: 78vh;           /* Adjust the height as needed */
    overflow: hidden;       /* Hide overflowing content */
}


.background-image {
    position: absolute;     /* Set the position to absolute */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;      /* Scale the image to cover the entire container */
    z-index: -1;            /* Place the image behind other content */
}


.content {
    padding-top: 90px;
    position: relative;     /* Reset the position to relative for the content */
    z-index: 1;             /* Ensure content is above the background image */
}


/* Content Style of First Section*/
.heading-paragraph{
    padding-left: 20px;
}

.first-section-header p{
    padding-top: 20px;
    font-family: 'Jomolhari';
    font-size: 50px;
    font-weight: 400;
    color:rgba(255, 255, 255, 1);
}

.first-section-paragraph p{
    padding-top: 10px;
    font-size: 19px;
    font-weight: 400;
    color:rgba(255, 255, 255, 1);
}

.learn-btn{
    width: 3.4cm;
    border: 1px solid #888;
    height: 1cm;
    background-color: rgba(230, 0, 35, 1);
    ;
    position: absolute;
    right: 0;
    margin-top: 10px;

}

.learn-btn p{
    text-align: center;
    padding-top: 3px;
    color:white;
}
/* Content Style of First Section*/

/* three info card  */


.info-bars{
    padding:20px;
    margin: 0 40px;
}
.box{
    width: 8cm;
    height: 2.6cm;
    border:solid 0px white;
    box-shadow: -2px 4px 5px 2px rgba(0, 0, 0, 0.1);
}
.main-box{
    display: flex;
}
.box-icon{
    width: 30%;
    padding-left: 23px;
}
.box-info{
    width: 70%;
    line-height: 0.3cm;
    padding-top: 10px;
}
.box-icon i{
    color:red;
    font-size: 3rem;
}
.head{
    font-size: 1.2rem;
}
.read-btn{
    padding-left: 9%;
}

/* three info card */


/* Package list  */

.all-courses{
    font-family: 'Jomolhari';
    font-size: 34px;

    padding: 20px;


}

.all-courses a{
    color: rgba(222, 5, 5, 0.73);
    text-decoration: none;
}

.package-box{
    border: solid 1px black;
    width: 7.5cm;
    height: 9cm;
    position: relative;
}

.package-img{
    width: 100%;
    height: 100%;

}

.package-image{
    position: relative;     /* Set the position to absolute */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;      /* Scale the image to cover the entire container */
    z-index: -1;
}


.package-body {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent black background */
        padding: 10px;
        box-sizing: border-box;
        color: white; /* Text color */
}

.buy-btn{
    display: block;
    width: 1.9cm;
    height: 0.6cm;
    border: solid 1px red;
    background-color: red;
    text-align: center;
}

/* Package list  */

/*  */


.first-box{
    /* border: solid 2px grey; */
    padding-top: 60px;
}
.intro-image{
    position: relative;
    overflow: hidden;
    height: 60vh;

}
.class-img{
    position: absolute;
    top: 0;
    width: 100%;
    background-size: cover;
    object-fit: cover;
}

.p1{
    padding-top: 20px;
    padding-left: 20px;
    font-size: 40px;
    font-family: "jomalhari";
    font-weight: 400;
}

.p2{
        padding-top: 10px;
        padding-left: 20px;
        font-size: 19px;

}



/*  */

/*  */

.second-box{
    padding-top: 120px;
    padding-bottom: 60px;
}

.p4{
    padding-left: 20px;
    padding-right: 60px;
    padding-top: 10px;
    font-size: 19px;
}


/* Footer start */

footer {
    position:relative;
    bottom: 0;
}

.footer{
    background-color: rgba(230, 0, 35, 0.08);
    height: 18vh;
    padding: 0 20px;
}

.company-name{
}






/* Footer end */








@media(max-width:770px) {

    /* header start */

    .header {

        .menu-icon {
            display: block;
            color: black;
            font-size: 20px;
        }

        h2 {
            margin-left: 20px;
        }

        .responsive-header {
            display: flex;
        }

        .header-list {
            display: none;
            text-align: center;
            line-height: 2.5;
        }

        .show {
            display: block !important;
        }

        /* header end */


        /*  */
        .first-section-header p{
            padding-top: 20px;
            font-size: 20px;
        }
        /*  */

    }

}
