@charset "utf-8";
/* CSS Document */

@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700,800,900|Rubik:300,400,500,700,900');


/* pop up start */

.modal {
    display: none;
    position: fixed;
    z-index: 5;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(86, 82, 82);
    background-color: rgba(0, 0, 0, 0.4);

}


.registermodal {
    display: none;
    position: fixed;
    z-index: 5;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(86, 82, 82);
    background-color: rgba(0, 0, 0, 0.4);

}


.modal-content {
    background-color: rgb(187 139 146);
    margin: auto;
    padding: 30px 20px;
    width: fit-content;
    top: 15%;
    width: 50%;
    text-align: center;
}


.close {
    color: #aaaaaa;
    text-align: end;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.registerclose {
    color: #aaaaaa;
    text-align: end;
    font-size: 28px;
    font-weight: bold;
}

.registerclose:hover,
.registerclose:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

input {
    width: 50%;
    padding: 10px;
    margin: 12px 0px;
    border-radius: 10px;
    border: 1px solid grey;
}

.login-btn {

    button {
        width: 20%;
        padding: 8px;
        border-radius: 20px;
        background-color: transparent;
        border-color: #E60023;
        color: #E60023;
        border: 1px solid #E60023;
    }

    p {
        margin-top: 12px;
    }


}








/* pop up end */
